@import "tailwindcss";

@theme {
  --color-fondo: #0E1410;
  --color-superficie: #161E18;
  --color-lima: #C7F23B;
  --color-menta: #3ECF6B;
  --color-texto: #EDF2EC;
  --color-texto-secundario: #8A9685;
}